* {
    font-family:		"monospace";
    font-weight:		bold;
    font-size:			12px;
}

@import "../colors.css";

/* Base (Window) */
window#waybar {
  background-color:		@background;
  color:                @foreground;
}
window#waybar.empty,
window#waybar.floating,
window#waybar > box {
	background:			transparent;
	margin:				5px;
}
window#waybar.solo {}
window#waybar.fullscreen {}
window#waybar.swallowing {}

window#waybar.empty #battery,
window#waybar.empty #window {
	background:			transparent;
	color:				@green;
}

#window,
#battery,
.modules-center {
	background:			@background;
	border-radius:		4px;
	padding:            7px 13px; 
}
