* {
  font-size: 11px;
}

@import "../colors.css";

window#waybar {
  background-color: transparent;
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
}
window#waybar > box {
  background-color: @background;
  padding: 10 10;
}

#left {
	margin: 0 10 0 0;
}

#boxes {
	background-color: @module-bg;
	padding:  0 10 10 10;
}
#boxtengah {
	margin: 11 0 1 0;
}

#profile {
	background-color: @module-bg;
	padding: 10 10;
	margin: 10 0 0 0;
}
#custom-pfp {
	font-size: 24px;
	background-image: url('/home/ahmadinne/.config/waybar/svg/pfp.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px;
}
#custom-pfp:hover {
	background-color: alpha(@foreground, 0.1);
}
#custom-username {
	font-weight: bold;
}

#network,
#bluetooth,
#custom-screenshot,
#custom-clipboard,
#custom-colorpicker,
#custom-screenrecord {
	background-color: alpha(@foreground, 0.05);
	padding: 12 8;
	margin: 0 10 0 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px;
	transition: .1s ease-in-out;
}
#network {
	background-image: url('/home/ahmadinne/.config/waybar/svg/wifi.svg');
}
#network.linked, #network.ethernet, #network.wifi {
	background-color: alpha(@foreground, 0.2);
}
#bluetooth {
	background-image: url('/home/ahmadinne/.config/waybar/svg/bluetooth.svg');
}
#custom-screenshot {
	margin-right: 0;
	background-image: url('/home/ahmadinne/.config/waybar/svg/scan.svg');
}
#custom-clipboard {
	background-image: url('/home/ahmadinne/.config/waybar/svg/clipboard-list.svg');
}
#custom-colorpicker {
	background-image: url('/home/ahmadinne/.config/waybar/svg/pipette.svg');
}
#custom-screenrecord {
	margin-right: 0;
	background-image: url('/home/ahmadinne/.config/waybar/svg/video.svg');
}

#network:hover,
#bluetooth:hover,
#custom-screenshot:hover,
#custom-clipboard:hover,
#custom-colorpicker:hover,
#custom-screenrecord:hover {
	background-color: alpha(@foreground, 0.1);
}

#slider {
	background-color: @module-bg;
	padding: 3 8;
}

#brightness {
	margin: -5 0 0 0;
}
#custom-audio,
#custom-brightness {
	margin: 0 5 0 0;
}
#custom-audio {
	background-image: url('/home/ahmadinne/.config/waybar/svg/music.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 14px;
}
#custom-brightness {
	background-image: url('/home/ahmadinne/.config/waybar/svg/moon.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 14px;
}

#pulseaudio-slider slider,
#backlight-slider slider {
	min-height: 0px;
	min-width: 0px;
	opacity: 0;
	border-radius: 0;
	background-color: transparent;
}
#pulseaudio-slider trough,
#backlight-slider trough {
	min-height: 15px;
	min-width: 113px;
	border-radius: 0px;
	background-color: alpha(@foreground, 0.05);
}
#pulseaudio-slider highlight,
#backlight-slider highlight {
	min-width: 0px;
	border-radius: 0px;
	background-color: @foreground;
}

#music {
	background-color: @module-bg;
	padding: 10;
}

#image {
  border-radius: 10;
}

#text {
  color: @foreground;
  padding: 10 0 0 0;
  margin-top: 0;
}
#custom-title {
	color: @foreground;
  font-weight: bold;
}
#custom-artist {
  color: alpha(@foreground, 0.5);
  font-weight: bold;
  margin: 5 0 0 0;
  background-image: none;
}


/* buttons */
#button {
	margin: 10 0 0 13;
}

#custom-prev,
#custom-next {
  color: alpha(@foreground, 0.3);
  transition: all 0.3s ease-in-out;
}
#custom-prev {
	background-image: url('/home/ahmadinne/.config/waybar/svg/skip-back.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 12px;
}
#custom-next {
	background-image: url('/home/ahmadinne/.config/waybar/svg/skip-forward.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 12px;
}
#custom-prev:hover,
#custom-next:hover {
  /* background-color: @module-bg; */
  color: @foreground;
}

#custom-play {
	color: alpha(@foreground, 0.7);
	transition: all 0.3s ease-in-out;
	padding: 0 15;
	background-image: url('/home/ahmadinne/.config/waybar/svg/play.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 14px;
}
#custom-play.paused {
	background-image: url('/home/ahmadinne/.config/waybar/svg/play.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 14px;
}
#custom-play.playing {
	background-image: url('/home/ahmadinne/.config/waybar/svg/pause.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 14px;
}
#custom-play:hover {
  color: @foreground;
}
