* {
	font-family: Iosevka Medium;
    font-size: 11.5px;
}

@define-color background #151515;
@define-color foreground #e8e3e3;
@define-color satu #181818;
@define-color dua #1F1F1F;
@define-color empat #1C1C1C;
@define-color black #151515;
@define-color gray #353535;
@define-color white #e8e3e3;
@define-color blue #8da3b9;
@define-color cyan #8aa6a2;
@define-color red #b66467;
@define-color green #8c977d;
@define-color yellow #d9bc8c;
@define-color purple #a988b0;

@define-color module-bg @dua;
@define-color module-hover alpha(@foreground, 0.1);

@define-color bright-black #424242;
@define-color bright-red #b66467;
@define-color bright-green #8c977d;
@define-color bright-yellow #d9bc8c;
@define-color bright-blue #8da3b9;
@define-color bright-magenta #a988b0;
@define-color bright-cyan #8aa6a2;
@define-color bright-white #e8e3e3;

tooltip {
    background-color: @background;
    border: 2px solid @module-bg;
    border-radius: 3;
}
tooltip label {
    color: @white;
    padding: 5;
}
