* {
    font:           "Iosevka 10";
    background:     #151515;
    background-alt: #181818;
    foreground:     #e8e3e3;
    selected:       #1f1f1f;
    active:         #71BAF2;
    urgent:         #ef7e7e;
}
