* {
    font-family: "Symbols Nerd Font", "gg sans Medium", "Iosevka Medium";
    font-weight: bold;
    font-size: 12px;
}

@import "../colors.css";

/* Base (Window) */
window#waybar {
  background-color:     @background;
  color:                @foreground;
}
window#waybar > box {
  /* margin:               5 5; */
  padding:              0 5;
}

/* Main Group */
#top,
#center,
#right {
  background-color:     @background; /* @module-bg */
  padding:              0 0;
}

/* Things */
#custom-split { color:  @module-hover; } 

#custom-utilities {
	background-image: url("/home/ahmadinne/.config/waybar/svg/leaf.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 12px;
	transition:		all 0.3s ease-in-out;
	padding: 0 4px
}
#custom-launcher { 
	background-image: url("/home/ahmadinne/.config/waybar/svg/search.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 12px;
	transition:		all 0.3s ease-in-out;
	padding: 0 4px;
}

#custom-workspace,
#battery,
#clock,
#trayer {
  padding:              0 10; 
  transition:           all 0.3s ease-in-out;
}

#custom-utilities:hover,
#custom-launcher:hover,
#workspaces:hover,
#battery:hover,
#clock:hover,
#trayer:hover {
  background-color:     @module-hover;
}
#custom-tray {
	font-size: 6px;
	background-image: url("/home/ahmadinne/.config/waybar/svg/chevron-left.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
#tray { margin: 0 10; }
#tray > widget { padding: 0 10;}

#workspaces {
  padding: 		0 0;
  transition:           all 0.3s ease-in-out;
}
