* {
    font-family:		"";
    font-weight:		bold;
    font-size:			12px;
}

@import "../colors.css";

/* Base (Window) */
window#waybar {
  background-color:		@background;
  color:                @foreground;
}
window#waybar.empty,
window#waybar.floating,
window#waybar > box {
	background:			transparent;
	margin:				5px;
}
window#waybar.solo {}
window#waybar.fullscreen {}
window#waybar.swallowing {}
window#waybar.empty #window {
	background:			transparent;
}

.modules-left,
.modules-center,
.modules-right {
	background:			@background;
	border-radius:		4px;
	padding:            7px 13px; 
	transition:         all 0.3s ease-in-out;
}

/* Things */
#battery,
#clock {}

#battery:hover,
#clock:hover {
  background-color:     @module-hover;
}

#custom-workspace {}
