* {
    font-family:		"";
    font-weight:		bold;
    font-size:			12px;
}

@import "../../colors.css";

/* Base (Window) */
window#waybar {
  background-color:		transparent;
}
window#waybar > box {
	background:			transparent;
	margin:				50px;
}

.modules-center {
	background:			@background;
	color:				@foreground;
	border-radius:		4px;
	padding:            7px 13px; 
	transition:         all 0.3s ease-in-out;
}

/* Starto */
#backlight {
	font-weight: bold;
}

#backlight-slider slider {
	min-height: 0px;
	min-width: 0px;
	opacity: 0;
	border-radius: 0;
	background-color: transparent;
}
#backlight-slider trough {
	min-height: 15px;
	min-width: 113px;
	border-radius: 4px;
	background-color: alpha(@foreground, 0.05);
}
#backlight-slider highlight {
	min-width: 0px;
	border-radius: 4px;
	background-color: @foreground;
}/* Things */
